<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="#{app.pages.login}">ログイン</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
<div class="container">
    <div class="login-form">
        <form class="form-signin" method="post" th:action="@{/login}">
            <h2 class="form-signin-heading" th:text="#{app.name}">Login to continue</h2>
            <div th:if="${loginError}" class="alert alert-danger" role="alert">Wrong user or password</div>
            <p>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
            </p>
            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
            </p>
            <button class="btn btn-outline-primary btn-block" type="submit" th:text="#{login.login}">ログイン</button>
        </form>
    </div>
</div>
</body>
</html>